.Menu-option ul{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid white;
  padding: 5px 0px;
}
.Menu-option ul li{
  display: inline-block;
  list-style: none;
}
.Menu-option ul li a{
  padding: 5px 15px;
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.Menu-option ul li a:hover{
  border-bottom: 3px solid #d64e9e;
}
.Menu-select{
  border-bottom: 3px solid #bd7dca;
}
.Menu-unselect{
  border-bottom: 3px solid transparent;
}
@media (max-width:504px){
  .Menu-option ul{
    width: 100%;
  }
  .Menu-option ul li{
    display: block;
    text-align: left;
    padding: 14px 0px;
  }
}
